<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="" class="ios hydrated" style="--offset-top:64px; --offset-bottom:0px;">
  <ion-list class="ios list-ios hydrated">

    <ion-item button="" onclick="showDetail('Angular')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-angular" style="color: #E63135;" role="img" class="ios hydrated"
        aria-label="logo angular"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>Angular</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('CSS3')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-css3" style="color: #0CA9EA;" role="img" class="ios hydrated"
        aria-label="logo css3"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>CSS3</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('HTML5')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-html5" style="color: #F46529;" role="img" class="ios hydrated"
        aria-label="logo html5"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>HTML5</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('JavaScript')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-javascript" style="color: #FFD439;" role="img" class="ios hydrated"
        aria-label="logo javascript"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>JavaScript</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('Sass')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-sass" style="color: #CE6296;" role="img" class="ios hydrated"
        aria-label="logo sass"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>Sass</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('NodeJS')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-nodejs" style="color: #78BD43;" role="img" class="ios hydrated"
        aria-label="logo nodejs"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>NodeJS</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('Python')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-python" style="color: #3575AC;" role="img" class="ios hydrated"
        aria-label="logo python"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>Python</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('Markdown')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-markdown" style="color: #412159;" role="img" class="ios hydrated"
        aria-label="logo markdown"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>Markdown</h3>
      </ion-label>
    </ion-item>


    <ion-item button="" onclick="showDetail('Tux')"
      class="item ios in-list ion-activatable ion-focusable item-label hydrated">
      <ion-icon slot="start" name="logo-tux" style="color: #000;" role="img" class="ios hydrated" aria-label="logo tux">
      </ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>Tux</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>