<app-header titulo="Cámara"></app-header>

<ion-content padding>
  
  <ion-button (click)="abrirCamara()" expand="block" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">
    <ion-icon name="camera"></ion-icon>
    Tomar fotografía
  </ion-button>
  
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let img  of images; let i = index"> 
      <ion-card>
        <img [src]="img | imageSanatizer " alt="">
      </ion-card>      
    </ion-slide>   
  </ion-slides>

  <ion-row>
    <ion-col size="3" *ngFor="let img  of images">
      <ion-card>
        <img [src]="img | imageSanatizer " alt="">
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>
